* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-display: swap;
  src: local('Lato Regular'), url('/fonts/Lato-Regular.woff2'), format('woff2');
}

@font-face {
  font-family: Lato;
  font-style: bold;
  font-display: swap;
  src: local('Lato Bold'), url('/fonts/Lato-Bold.woff2'), format('woff2');
}

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  position: relative;
  font-family: "Lato", "Arial", sans-serif;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #1E212C;
  font-family: 'Lato', "Arial", sans-serif;
  margin-bottom: 85px;

  & h1 {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin: 0;
  }

  & h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
  }
}

.search-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: clamp(30px, 100%, 101px);
  width: 100%;
  margin-bottom: 60px;
}

.search {
  position: relative;
  max-width: 315px;
  width: 100%;

  &__item {
    width: 100%;
    height: 44px;
    border: solid 1px #D7DADD;
    border-radius: 4px;
  }

  &__icon {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.courses-grid {
  display: grid;
  gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 390px));
  grid-auto-rows: minmax(150px, auto);
  grid-auto-flow: dense;
  max-width: 1230px;
  width: 100%;
  margin: auto auto;
  margin-bottom: 5%;

  &__card {
    display: flex;
    flex-direction: column;

  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 24px;
}

.card-badge {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #FFFFFF;
  text-transform: capitalize;
  text-align: center;
  border-radius: 4px;
  padding: 1px 8px;
  height: 23px;
  max-width: max-content;
}

.card-badge_Marketing {
  background-color: #03CEA4;
  border: 1px solid #03CEA4;
}

.card-badge_Management {
  background-color: #5A87FC;
  border: 1px solid #5A87FC;
}

.card-badge_Design {
  background-color: #F52F6E;
  border: 1px solid #F52F6E;
}

.card-badge_HR {
  background-color: #F89828;
  border: 1px solid #F89828;
}

.card-badge_Development {
  background-color: #7772F1;
  border: 1px solid #7772F1;
}

.card-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
  text-transform: capitalize;

}

.card-info {
  display: flex;
  gap: 8px;
  align-items: center;

  &__price {
    color: #FF4242;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
  }

  &__divider {
    height: 16px;
    width: 1px;
    background-color: #787A80;
  }

  &__speaker {
    font-size: 18px;
    line-height: 150%;

    color: #787A80;
    font-weight: 400;
  }
}

.button {
  display: flex;
  gap: 17px;
  border: none;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  color: #424551;
  background-color: inherit;
  cursor: pointer;
}

.shape-dots {
  position: absolute;
  right: 0;
  top: 3%;
}

.shape-arrows {
  position: absolute;
  top: 70%;
  right: 3%;
}

.shape-semicircle {
  position: absolute;
  top: 30%;
  left: 3%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.filters {
  display: flex;
  flex-wrap: wrap;

  gap: 12px;
  padding: 0;

  &>li {
    padding: 10px 20px;
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #9A9CA5;
    cursor: pointer;
  }
}

.active {
  border: solid 1px #FF3F3A;
  border-radius: 4px;
  color: #FF3F3A;

}