.tile_layout {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: auto;
  justify-content: space-between;
  gap: 50px;
  border: 1px solid blue;
  transition: all 500ms;
}
.tile_lt {
  padding-bottom: 100%;
  border: 1px solid red;
}

.tile_list {
  display: flex;
  gap: 50px;
  flex-direction: column;
  border: 1px solid blue;
}
.tile_l {
  border: 1px solid red;
  background-color: brown;
  width: 100%;
  height: 100px;
  transition: height 500ms;
}

.form {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;
}
.form label {
  text-align: center;
}
.form input {
  border: 1px solid rgb(255, 0, 255);
  width: 200px;
  height: 50px;
  font-size: 32px;
}
.error {
  display: none;
  color: red;
  border: 1px solid red;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.show {
  display: block;
}

@media (max-width: 1700px) {
  .tile_layout {
    grid-template-columns: repeat(3, 300px);
  }
  .tile_list {
    gap: 40px;
  }
  .tile_l {
    height: 75px;
  }
}

@media (max-width: 1024px) {
  .tile_layout {
    grid-template-columns: repeat(2, 1fr);
  }
  .tile_list {
    gap: 25px;
  }
  .tile_l {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .tile_layout {
    grid-template-columns: 100%;
  }
  .tile_l {
    height: 60px;
  }
}
